{% extends 'base.html.twig' %}

{% block body %}
    <h1> Welcome to my blog</h1>

    <p> This just an example with MVC Architecture which is made Symfony 4 </p>

      <ol>
          <li> You can read and edit any articles . </li>
          <li> You can authenticate you with the simple registration form. </li>
          <li> You can add articles without authentication. </li>
          <li> You can add a comments but you must  be connected.  </li>

      </ol>





{% endblock %}